!!! 5
%html
  %head
    %title= "YetAnotherKardAchievements"
    %meta{ :name => "viewport", :content => "width=device-width" }
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    / %link{rel: 'shortcut icon', href: '/favicon.png'}
  %body{:class => [controller_name], :id => "#{controller_name}_#{action_name}"}
    .l-header
      .l-header--content
        =link_to root_path, :class => 'm-logo' do
          = "YetAnotherKardAchievements"
    .l-content
      / .flash_messages
      /   - flash.each do |key, value|
      /     .flash{ :class => key.to_s }
      /       = value
      = yield
    %header

  = javascript_include_tag "http://js.pusher.com/2.0/pusher.min.js"
  = javascript_include_tag "application"
  = content_for(:javascript)